<main class="container">

    <figure class="img-box">

        <a href="#">
            <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/c57d/live/933eee20-2f78-11ee-9f70-d342190b50f6.jpg"
                class="photo" alt="image">
        </a>

    </figure>

    <div>

        <span class="date">06/05/2024</span>
        <a href="#">
            <h1 class="title">
                Nova foto da Madonna
            </h1>
        </a>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni optio officia ipsam similique et aperiam
            nisi
            reprehenderit provident ad earum voluptate quis at nemo voluptas ratione ea totam, corrupti neque?
        </p>

    </div>

</main>