<main class="container">

    <figure class="img-box">

        <a href="">
            <img src="https://imagens.ebc.com.br/CyHOac5Z5--jB0B_k7dnPaXcrRY=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/2023-12-27t121927z_1_lynxmpejbq08s_rtroptp_4_israel-palestinos-gaza-ataque.jpg?itok=9SOCdubx"
                class="photo" alt="guerra/war">
        </a>

    </figure>

    <div>

        <span class="date">06/05/2024</span>
        <a href="">
            <h1 class="title">
                Guerra na Síria aumenta tensão!
            </h1>
        </a>

    </div>
</main>
<hr>